/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 20px;
}

.pagination {
  position: fixed;
  /* top: 80px;
  left: 50%;
  transform: translateX(-50%); */
  top: calc(50% + 150px);
  left: 30px;
}